*{margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  
    
}
body{background-color: lavender;}

h1{position: relative;
top: 20px;
font-size: 50px;
font-family:fantasy ;
color: red;
text-shadow: 2px 2px black;}

/* ---------------------------------------------css for container----------------- */

._container{ height: 450px;
    width: 500px;
    border: 6px solid black;
    display: grid;
    position: absolute;
    top: 20%;
    left: 30%;
   border-radius: 10px;
   background-color:darkorchid;
}
/* ---------------------------------CSS for result-------------------- */

#_result{
    width: 350px;
    height: 40px;
    border: 3px solid black;
    margin: 0;
    position: relative;
    top: 30px;
    left: 30px;
    text-align: end;
    font-size: 25px;
    border-radius: 5px;
}


/* ------------------------------------CSS for Clear Button--------------- */

#_clear{width: 70px;
    height: 40px;
    font-size: 20px;
    color: black;
    font-family: fantasy;
    position: relative;
    top: 30px;
    left: 40px;
    border-radius: 5px;
    cursor: pointer;

}
#_clear:hover{
    background-color:paleturquoise ;
    transition: 2s;}
/* -----------------------------------header section----------------------------- */

.header{border: 4px solid black;
width :492px;
height: 100px;
position: relative;
right: 2px;
background-color: darkorange;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;

}
  
/* -------------------------------------------Css for table created for button---------------- */

.tbl{position: absolute;
    left: 7px;
    top:120px;
    border: 3px solid black;
    width: 475px;
    height: 260px;
    border-radius: 10px;
    background-color: plum;
}
.blue,td { width: 40px;
    height: 50px;
position: relative;
left: 2px;
}
.tone{
    width: 75px;
    height:60px;
    font-size: 40px;
    border-radius: 10px;
    cursor: pointer;

}
.tone1{  width: 75px;
         height:122px;
         font-size: 40px;
         position: relative;
         left: 2px;
        border-radius: 10px;
    cursor: pointer;}

.tone3{width: 24rem;
    height: 60px;
font-size: 40px;
position: relative;
left: 2px;
border-radius: 10px;
cursor: pointer;} 

h3{border: 2px solid black;
width: 490px;
height: 55px;
margin: 0px;
position: relative;
top: 140px;
text-align: end;
font-size: 30px;
background-color: black;
color: chartreuse;
}